<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>


        <div class="container">
            <h1>Database Output</h1>
            <table class="table table-bordered"> 
            <tr th:each="record : ${joutshet}">
                <td th:text="${record.id}"/>
                <td th:text="${record.nschet}"/>
                <td th:text="${record.pYear}"/>
                <td th:text="${record.pYear}"/>
                <td th:text="${record.pMonth}"/>
            </tr>
            </table>     
        </div>


    </body>
</html>
